---
layout: splash
title: "Deep Learning on Computational Accelerators"
excerpt: "Faculty of Computer Science, Technion"
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.1"
  overlay_image: "assets/images/splash15.jpg"
  caption: "<a href='semesters'>Winter 2021/22</a>"
---

<h3 class="archive__subtitle">Recent Updates</h3>

{% for post in paginator.posts %}
    <div style="" class="page__meta">
        <p style="float: right" class="page__date">
            <time>{{ post.date | date: "%d-%m-%Y" }}</time>
        </p>
        {% include archive-single.html %}
    </div>
{% endfor %}

{% include paginator.html %}

